@use 'variables';
@use 'mixins';
@use 'initial';


.main-container {
  
        width: 375px;
        margin: auto;
    &_background-section{
        background-image: url(../images/bg-main-mobile.png);
        background-repeat: no-repeat;
       height: 240px;
       position: relative;
    }
    &_form-section{
        padding: 90px 24px 45px;
    }
    @media (min-width: 1320px) {
        width: 1350px;
        display: flex;
        &_background-section{
            background-image: url(../images/bg-main-desktop.png);
            width: 900px;
            height: 690px;
        }

    
} 
}
.card{

  @include mixins.card('../images/bg-card-front.png');
  @include mixins.card-position(126px,18px,120px,147px);
  z-index: 1;
  letter-spacing: 2px;
  &_logo{
    width: 55px;
    margin-bottom: 30px;
  }
  &_number{
  margin-bottom: 15px
  }
  &_details{
    display: flex;
    font-size: 0.6em;
    justify-content: space-between;
    text-transform: uppercase;
}
@media (min-width: 1120px) {
    &_logo{
        width: 86px;
        margin-bottom: 55px;
      }
      &_number{
        font-size: 1.6em;
        margin-bottom: 25px
        }
        &_details{
          font-size: 0.8em;
        }
    }


} 
.card-back{
    @include mixins.card('../images/bg-card-back.png');
    @include mixins.card-position(30px,75px,400px,227px);
    letter-spacing: 2px;
    &_cvc{
        font-size: 0.7em;
        margin-top: 50px;
        text-align: right;
        padding-right: 10px;
        @media (min-width: 1120px){
          font-size: 1em;
          margin-top: 80px;
          padding-right: 30px;
        }
    }
   
}

.form{
   
    &_label{
        text-transform: uppercase;
        font-size: 0.65em;
        letter-spacing: 2px;
        display: block;
        margin-bottom: 8px;
        color: variables.$Very-dark-violet;
        font-weight: bold;

    }
    &_input{
      width: 100%;
      height: 40px;
      margin-bottom: 18px;
      border-radius: 4px;
      font-family: variables.$font;
      border: 1px solid variables.$Light-grayish-violet;
      padding-left: 10px;
      font-size: 1em;
      outline: none;
      &::placeholder{
      color: variables.$Light-grayish-violet;
      }
    }
    &_date-cvc{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 16px;
    }
    &_date{
        display: flex;
        gap: 10px;
    }
    &_submit{
        background-color: variables.$Very-dark-violet;
        color: variables.$Light-grayish-violet;
        width: 100%;
        height: 50px;
        border-radius: 8px;
        font-size: 1em;
        letter-spacing: 1px;
        font-family: variables.$font;
    }
    &:hover{
        cursor: pointer;
    }
    @media(min-width: 1120px){
        width: 385px;
        margin-top: 100px;
        margin-right: 80px;
        &_input{
            margin-bottom: 40px;
        }
    }
}
.error{
    color: variables.$Red;
    margin: -20px 0 18px;
    font-size: 0.6em;


}
.form_errors-container{
    display: flex;
    gap: 5px;
}
.form_errors-container div{
    width: 100px;
    text-align: center;
}
.thanks-section{
    display: none;
    width: 375px;
    margin: auto;
    &_img{
        display: block;
        margin: auto;
        margin-bottom: 30px;

    }
    &_title{
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        letter-spacing: 4px;
        color: variables.$Very-dark-violet;
        margin-bottom: 24px;

    }&_text{
        text-align: center;
        color: variables.$Dark-grayish-violet;
        font-size: 1.1em;
        margin-bottom: 24px;
    }&_button{
        @extend .form_submit;
    }
    @media(min-width:1120px){
        margin-top: 120px;
        margin-right: 100px;
    }
}
